.navigation-bar
  %ul
    %li=link_to 'dale', '/'
    %li=link_to 'songs', '/songs/'
    %li=link_to 'dna', '/genealogy/'
    %li=link_to 'blog', 'http://trot.dale.emery.name/'
    %li=link_to 'writing', 'http://dalewriting.dale.emery.name/'
    %li=link_to 'fiction', 'http://dalefiction.dale.emery.name/'
    %li=link_to 'biz', 'http://dhemery.com/'
