---
title: Songs by My Friends and Me
---

%h1#at-christmastime At Christmastime
%p A lovely Christmas tune by Scott Woodman.
%ul
  %li
    %a{href: '/mp3/AtChristmastime.mp3'} listen

%h1#brainwave-surfin Brainwave Surfin'
%p Just like the Beach Boys, but without all the talent.
%ul
  %li
    %a{href: '/mp3/BrainwaveSurfin.mp3'} listen
  %li
    %a{href: 'http://trot.dale.emery.name/2004/02/brainwave_surfin/'} about the song

%h1#breakdown Breakdown
%p My heartbreaking heartbreak song about heartbreak.
%ul
  %li
    %a{href: '/mp3/Breakdown.mp3'} listen

%h1#bury-me Bury Me (With My Feet Up In The Air)
%p You can't take 'em with you.
%ul
  %li
    %a{href: '/mp3/BuryMe.mp3'} listen
  %li
    %a{href: 'http://trot.dale.emery.name/2003/04/bury_me_with_my_feet_up_in_the_air/'} about the song
  %li
    %a{href: '/images/bury-me.jpg'} graphic by Suzanne Landon

%h1#cant-get-over-you Can't Get Over You
%p Not a heartbreak song at all.
%ul
  %li
    %a{href: '/mp3/CantGetOverYou.mp3'} listen

%h1#cant-stop-thinkin Can't Stop Thinkin'
%p Puzzling (as we all do) about how love works.
%ul
  %li
    %a{href: '/mp3/CantStopThinkin.mp3'} listen

%h1#coincidence Coincidence
%p How songs are really written.
%ul
  %li
    %a{href: '/mp3/Coincidence.mp3'} listen
  %li
    %a{href: 'http://trot.dale.emery.name/2003/04/coincidence/'} about the song

%h1#easy-now Easy Now
%p
  Scott Woodman and Dave Pence's
  lovely cover of a lovely Eric Clapton tune.
%ul
  %li
    %a{href: '/mp3/EasyNow.mp3'} listen

%h1#eat-the-animals Eat the Animals
%p Kids love this one.  Their parents do not.
%ul
  %li
    %a{href: '/mp3/EatTheAnimals.mp3'} listen
  %li
    %a{href: 'http://trot.dale.emery.name/2003/04/eat_the_animals/'} about the song

%h1#hamburger-disguise Hamburger Disguise
%p
  A ballad about getting the wrong order at McDonald's,
  winning the pulitzer prize,
  and being assassinated by an angry clown.
%ul
  %li
    %a{href: '/mp3/HamburgerDisguise.mp3'} listen

%h1#in-the-middle In the Middle
%p An instrumental ditty.  (unfinished demo)
%ul
  %li
    %a{href: '/mp3/InTheMiddle.mp3'} listen

%h1#king-of-time King of Time
%p
  To win the game,
  you have to knock everyone else out of time.
%ul
  %li
    %a{href: '/mp3/KingOfTime.mp3'} listen
  %li
    %a{href: 'http://trot.dale.emery.name/2003/07/king_of_time/'} about the song

%h1#never-a-taxi Never a Taxi
%p
  The availability of taxis
  is inversely proportional to your need for one.
%ul
  %li
    %a{href: '/mp3/NeverATaxi.mp3'} listen

%h1#pardon-me Pardon Me
%p
  There really was a Karen.
  Briefly.
  Until this song scared her away.
%ul
  %li
    %a{href: '/mp3/PardonMe.mp3'} listen

%h1#planet-of-my-own Planet of My Own
%p Sometimes you just want a little solitude.
%ul
  %li
    %a{href: '/mp3/PlanetOfMyOwn.mp3'} listen
  %li
    %a{href: 'http://trot.dale.emery.name/2003/04/planet_of_my_own/'} about the song

%h1#run-over-again Run Over Again
%p Run over me once, shame on me&hellip;
%ul
  %li
    %a{href: '/mp3/RunOverAgain.mp3'} listen
  %li
    %a{href: 'http://trot.dale.emery.name/2003/04/run_over_again/'} about the song

%h1#song-about-it Song About It
%p
  Our homage to Neil Young,
  with a brilliant guitar solo by Ttïmm.
%ul
  %li
    %a{href: '/mp3/SongAboutIt.mp3'} listen

%h1#sugar-sugar Sugar, Sugar
%p
  Yes,
  %em that
  "Sugar, Sugar."
%ul
  %li
    %a{href: '/mp3/SugarSugar.mp3'} listen
  %li
    %a{href: 'http://trot.dale.emery.name/2004/07/sugar_sugar/'} about the song

%h1#walk-away Walk Away
%p One way to avoid heartbreak. (unfinished demo)
%ul
  %li
    %a{href: '/mp3/WalkAwayDemo2.mp3'} listen
